.header{
  vertical-align: middle;
  font-family: Verdana, Arial, sans-serif;
  font-size: .75em;
  width:auto;
  color: darkred;
  letter-spacing: .01em;
  text-shadow: .1em .1em .1em #282c34;
  padding: .5em;
}

.header img{
  width: 4em;
  border-radius: 1em;
  padding: .1em;
  vertical-align: middle;
  horiz-align: center;
}

.header input{
  height: 1em;
}

.header li{
  list-style: none;
  display: inline-block;
  margin: 0em .5em;
}

.actualVideo {
  margin: 0em 2em;
  width: auto;
  border: 1px solid black;
}