.app {
    text-align: center;
}

.header {
    min-width: 90%;
    min-height: 15em;
    padding: 1em;
    background-image: url("background.png");
    opacity: .8;
}

.video-grid-container {
    display: grid;
    padding: 1em;
}

.video-grid-item {
    vertical-align: middle;
    display: inline-block;
    width: 20em;
}

.navbar {
    alignment: center;
}

.searchbar-grid-container{
    position: absolute;
    display: grid;
    border: 1px solid lightgray;
    border-radius: .3em;
    margin: 1em;
}

.searchbar-grid-item{
    vertical-align: middle;
    display: inline-block;
}

.logo {
    margin: 1em;
    color: red;
    text-shadow: .1em .1em .1em lightgray;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}